<h2>About me and my project!</h2>

<b>I'm Sophie Jorgensen, a junior at the University of Maryland, College Park, 
    studying Computer Science and Public Health Data Science.

    I created this Pokemon Reviewer to give Pokemon lovers (or haters) a space to express their feelings about Pokemon.
    It functions as a blog; users have the opportunity to log in and post reviews about Pokemon, and can read others'
    reviews. Reviews are posted publicly directly above and/or below review boxes and are dated. They are emailed a receipt of their review 
    after it has been posted. The main page has two forms: a search bar,
    to search for Pokemon by name, and a review space to leave comments about Pokemon in general. On each pokemon's individual page,
    statistics about each Pokemon's height, weight, base experience, and abilities are listed. The abilities are clickable, and takes
    the user to a page that lists all Pokemon with that ability (for convenient review purposes). Users can update their username
    if needed, as well.</b>