{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Greeting #}
        <h2> Welcome to the Pokemon Review Database, {{ current_user.username }} !</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Username Update Form #}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" action="">
            {{ username_form.csrf_token }}
            <div class="form-group">

                {{ username_form.username.label }}
                {{ username_form.username(class="form-control") }}
      
                {% if username_form.username.errors %}
                <div class="alert alert-warning" role="alert">
                  {% for error in username_form.username.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% endif %}
        
            </div>
            {{ username_form.submit() }}
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        {# Link to see all of the current user's reviews. #}
        
    </div>
</div>
{% endblock %}