{% extends "header.html" %}
{% block content %}

<div class="row">
    <div class="col">
        <form action="/" class="form-inline my-2 my-lg-0" method="POST">
            {{ form.csrf_token }}
            {{ form.search_query(class="form-control", placeholder="Search") }}

            {% if form.search_query.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.search_query.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

            {{ form.submit(class="btn btn-outline-success") }}
        </form>
    </div>
    <div class="col">
        <h2>Please use the search bar to search for pokemons! Then you can review them </h2>
    </div>
</div>
<div class="row">
    <form action="/" class="form-inline my-2 my-lg-0" method="POST">
        {{ input_form.csrf_token }}
        {{ input_form.text(class="form-control", placeholder="Leave a general review!") }}

        {% if input_form.text.errors %}
        <div class="alert alert-warning" role="alert">
            {% for error in input_form.text.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}

        {{ input_form.submit(class="btn btn-outline-success") }}
    </form>
</div>
{# Reviews #}
<div class="row">
    <div class="col-md-12">
    <h1> Reviews <small class="float-right">{{ reviews|length }} reviews</small></h1>
    <ul class="media-list">
        {% for review in reviews %}
        <li class="media review-item">
        <div class="media-body">
            <span class="float-right">
            <small>{{ review.date }}</small>
            </span>
            <a href="{{ url_for('pokemons.user_detail', username=review.commenter.username) }}">
            <strong>@{{ review.commenter.username }}</strong>
            </a>
            <p>
            {{ review.content }}
            </p>
        </div>
        </li>
        {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}