{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Display any error messages #}
        {% if error_msg %}
            <b>{{ error_msg }}</b>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        {# Indicate which user's reviews we're looking at #}
        <b>These are the reviews of user {{ username }}</b>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Show all reviews made by the user #}
        <b>This user has made {{ reviews | length }} reviews!</b>
        {% for review in reviews %}
        <li class="media review-item">
            <div class="media-body">
                <span class="float-right">
                    <small>{{ review.date }}</small>
                </span>
                <small>{{ review.poke_name }}</small>
                <p>
                    {{ review.content }}
                </p>
            </div>
        </li>
        {% endfor %}
    </div>
</div>
{% endblock %}